@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-brand-50: #f8fafc;
    --color-brand-100: #f1f5f9;
    --color-brand-200: #e2e8f0;
    --color-brand-300: #cbd5e1;
    --color-brand-400: #94a3b8;
    --color-brand-500: #64748b;
    --color-brand-600: #000000;
    --color-brand-700: #000000;
    --color-brand-800: #1e293b;
    --color-brand-900: #0f172a;
    --color-brand-950: #020617;
}

[x-cloak] {
    display: none !important;
}