@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-brand-50: #fff7ed;
    --color-brand-100: #ffedd5;
    --color-brand-200: #fed7aa;
    --color-brand-300: #fdba74;
    --color-brand-400: #fb923c;
    --color-brand-500: #f97316;
    --color-brand-600: #ff8c00;
    --color-brand-700: #e07b00;
    --color-brand-800: #9a3412;
    --color-brand-900: #7c2d12;
    --color-brand-950: #431407;
}

[x-cloak] {
    display: none !important;
}